<!DOCTYPE html>
<html lang="en" class=" js flexbox flexboxlegacy canvas canvastext no-webgl no-touch geolocation postmessage no-websqldatabase no-indexeddb hashchange history draganddrop no-websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms no-csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114194182-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-114194182-1');
    </script>
    <meta name="google-site-verification" content="2bC0thI8vYiiQ9NX1buEqq_qoMxQMKBbZO2zcawc72c" />
   <meta charset="utf-8" />
<link rel="canonical" href="http://asi.com.ph/" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
<title>ASI Philippines|Automation Security|Installation Services @ViewBag.Title</title>
<meta name="description" content="ASI Philippines|hikvision cctv camera|hikvision dealer Philippines dvr softwares|Purchase hikvision wireless hd cctv camera packages|zkteco biometric fingerprint scanner|turnstiles access control|beninca automatic gate|numen fire alarm|ubiquiti electrical supply|electric fence|Buy online best price"/>
    <meta name="robots" content="index, follow">
    <meta property="og:url" content="http://www.asi.com.ph/" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="ASI Philippines| Hikvision CCTV |Installation Services @ViewBag.Title" />
    <meta property="og:description" content="ASI Philippines|hikvision cctv camera|hikvision dealer Philippines dvr softwares|Purchase hikvision wireless hd cctv camera packages|zkteco biometric fingerprint scanner|turnstiles access control|beninca automatic gate|numen fire alarm|ubiquiti electrical supply|electric fence|Buy online best price"/>
    <meta property="og:image" content="http://www.asi.com.ph/Images/home_products_banner/banner_hik_1.jpg" alt="asi">
    <meta itemprop="url" content="http://www.asi.com.ph/" />
                
<meta itemprop="name" content="ubiquiti">   
<meta itemprop="name" content="zkteco">
<meta itemprop="name" content="korenix">
<meta itemprop="name" content="garrett">
<meta itemprop="name" content="mikrotik">
<meta itemprop="name" content="numen">
 @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="dns-prefetch" href="//www.googletagmanager.com" />
    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <link rel="stylesheet" href="~/Content/responsive.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/Content/lightslider.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="push-content">
            <header class="header">
                <div class="top-section hiddenx-md hiddenx-sm hidden-xs">
                    <div class="container">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
                <div class="container">
                    <a href="~/Home" class="header-icon" id="header-icon"></a>
                   <a id="_brand2" itemscope itemtype="http://schema.org/Brand"  href="/Home" class="header-logo"><img itemprop="logo" src="/Images/logo_v2.png" alt=""/></a>
                    <div class="menu">
                        <a href="~/Home">Home</a>
                        <!--<a href="#">Products</a>-->
                        <a href="~/About">About</a>
                        <a href="~/Contact">Contact</a>
                        <a href="~/About/ProductLines">Product Lines</a>
                        <a href="~/About/Installation">Installation</a>
                        <a href="~/Career">Career</a>
                        <a href="#">Solution</a>
                    </div>
                </div>
            </header>

            <div class="site-content">
                <div class="body-content">
                    @RenderBody()
                </div>
                <footer>

                    <div class="company-branches">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td><b>LUZON OFFICES</b></td>
                                                    <td>&nbsp;</td>
                                                    <td><b>VISAYAS OFFICES</b></td>
                                                    <td><b>MINDANAO OFFICES</b></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <ul class="list-unstyled">
                                                            <li><a href="mailto:info@asi.com.ph">Baguio Office</a></li>
                                                            <li><strong>Tel:</strong> (02) 727 2727</li>
                                                            <li><strong>Cell:</strong> (0995) 436 7858</li>
                                                            <li><strong>Email:</strong> info@asi.com.ph</li>
                                                        </ul>
                                                    </td>

                                                    <td>
                                                        <ul class="list-unstyled">
                                                            <li><a href="mailto:info@asi.com.ph">Laguna Office</a></li>
                                                            <li><strong>Tel:</strong> (02) 727 2727</li>
                                                            <li><strong>Cell:</strong> (0927) 041 4077</li>
                                                            <li><strong>Email:</strong> info@asi.com.ph</li>
                                                        </ul>
                                                    </td>

                                                    <td>
                                                        <ul class="list-unstyled">
                                                            <li><a href="mailto:info@asi.com.ph">Bacolod Office</a></li>
                                                            <li><strong>Tel:</strong> (02) 727 2727</li>
                                                            <li><strong>Cell:</strong> (0927) 502 9968</li>
                                                            <li><strong>Email:</strong> info@asi.com.ph</li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <ul class="list-unstyled">
                                                            <li><a href="mailto:info@asi.com.ph">Agusan del Norte Office</a></li>
                                                            <li><strong>Tel:</strong> (02) 727 2727</li>
                                                            <li><strong>Cell:</strong> (0956) 644 2974</li>
                                                            <li><strong>Email:</strong> info@asi.com.ph</li>
                                                        </ul>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <ul class="list-unstyled">
                                                            <li><a href="mailto:info@asi.com.ph">Balanga Office</a></li>
                                                            <li><strong>Tel:</strong> (02) 727 2727</li>
                                                            <li><strong>Cell:</strong> (0915) 703 0834</li>
                                                            <li><strong>Email:</strong> info@asi.com.ph</li>
                                                        </ul>
                                                    </td>

                                                    <td>
                                                        <ul class="list-unstyled">
                                                            <li><a href="mailto:info@asi.com.ph">La union Office</a></li>
                                                            <li><strong>Tel:</strong> (02) 727 2727</li>
                                                            <li><strong>Cell:</strong> (0926) 433 7024</li>
                                                            <li><strong>Email:</strong> info@asi.com.ph</li>
                                                        </ul>
                                                    </td>

                                                    <td>
                                                        <ul class="list-unstyled">
                                                            <li><a href="mailto:info@asi.com.ph">Cebu Office</a></li>
                                                            <li><strong>Tel:</strong> (032) 268 8080</li>
                                                            <li><strong>Cell:</strong> (0915) 639 2276</li>
                                                            <li><strong>Email:</strong> info@asi.com.ph</li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <ul class="list-unstyled">
                                                            <li><a href="mailto:info@asi.com.ph">Butuan Office</a></li>
                                                            <li><strong>Tel:</strong> (085) 816 3469</li>
                                                            <li><strong>Cell:</strong> (0936) 996 8277</li>
                                                            <li><strong>Email:</strong> info@asi.com.ph</li>
                                                        </ul>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <ul class="list-unstyled">
                                                            <li><a href="mailto:info@asi.com.ph">Bulacan Office</a></li>
                                                            <li><strong>Tel:</strong> (044) 795 0520</li> 
                                                            <li><strong>Cell:</strong> (0915) 136 5866</li>
                                                            <li><strong>Email:</strong> info@asi.com.ph</li>
                                                        </ul>
                                                    </td>

                                                    <td>
                                                        <ul class="list-unstyled">
                                                            <li><a href="mailto:info@asi.com.ph">Pampanga Office</a></li>
                                                            <li><strong>Tel:</strong> (02) 727 2727</li>
                                                            <li><strong>Cell:</strong> (0927) 233 5030</li>
                                                            <li><strong>Email:</strong> info@asi.com.ph</li>
                                                        </ul>
                                                    </td>

                                                    <td>
                                                        <ul class="list-unstyled">
                                                            <li><a href="mailto:info@asi.com.ph">Ilo-Ilo Office</a></li>
                                                            <li><strong>Tel:</strong> (02) 727 2727</li>
                                                            <li><strong>Cell:</strong> (0917) 754 0818</li>
                                                            <li><strong>Email:</strong> info@asi.com.ph</li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <ul class="list-unstyled">
                                                            <li><a href="mailto:info@asi.com.ph">Cagayan de Oro Office</a></li>
                                                            <li><strong>Tel:</strong> (088) 323 2810</li>
                                                            <li><strong>Cell:</strong> (0917) 727 2007</li>
                                                            <li><strong>Email:</strong> info@asi.com.ph</li>
                                                        </ul>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <ul class="list-unstyled">
                                                            <li><a href="mailto:info@asi.com.ph">Camarines Sur Office</a></li>
                                                            <li><strong>Tel:</strong> (02) 727 2727</li>
                                                            <li><strong>Cell:</strong> (0915) 320 4835</li>
                                                            <li><strong>Email:</strong> info@asi.com.ph</li>
                                                        </ul>
                                                    </td>

                                                    <td></td>

                                                    <td>
                                                        <ul class="list-unstyled">
                                                            <li><a href="mailto:info@asi.com.ph">Lapu-lapu Office</a></li>
                                                            <li><strong>Tel:</strong> (02) 727 2727</li>
                                                            <li><strong>Cell:</strong> (0917) 727 2022</li>
                                                            <li><strong>Email:</strong> info@asi.com.ph</li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <ul class="list-unstyled">
                                                            <li><a href="mailto:info@asi.com.ph">Davao Office</a></li>
                                                            <li><strong>Tel:</strong> (02) 727 2727</li>
                                                            <li><strong>Cell:</strong> (0927) 023 9337</li>
                                                            <li><strong>Email:</strong> info@asi.com.ph</li>
                                                        </ul>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <ul class="list-unstyled">
                                                            <li><a href="mailto:info@asi.com.ph">Cavite Office</a></li>
                                                            <li><strong>Tel:</strong> (02) 727 2727</li>
                                                            <li><strong>Cell:</strong> (0917) 727 2025</li>
                                                            <li><strong>Email:</strong> info@asi.com.ph</li>
                                                        </ul>
                                                    </td>

                                                    <td></td>

                                                    <td>
                                                        <ul class="list-unstyled">
                                                            <li><a href="mailto:info@asi.com.ph">Leyte Office</a></li>
                                                            <li><strong>Tel:</strong> (02) 727 2727</li>
                                                            <li><strong>Cell:</strong> (0995) 410 2701</li>
                                                            <li><strong>Email:</strong> info@asi.com.ph</li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <ul class="list-unstyled">
                                                            <li><a href="mailto:info@asi.com.ph">General Santos Office</a></li>
                                                            <li><strong>Tel:</strong> (083) 301 7676</li>
                                                            <li><strong>Cell:</strong> (0917) 727 2014</li>
                                                            <li><strong>Email:</strong> info@asi.com.ph</li>
                                                        </ul>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <ul class="list-unstyled">
                                                            <li><a href="mailto:info@asi.com.ph">Ilocos Sur Office</a></li>
                                                            <li><strong>Tel:</strong> (02) 727 2727</li>
                                                            <li><strong>Cell:</strong> (0906) 168 1101</li>
                                                            <li><strong>Email:</strong> info@asi.com.ph</li>
                                                        </ul>
                                                    </td>

                                                    <td></td>

                                                    <td>
                                                        <ul class="list-unstyled">
                                                            <li><a href="mailto:info@asi.com.ph">Mandaue Office</a></li>
                                                            <li><strong>Tel:</strong> (02) 727 2727</li>
                                                            <li><strong>Cell:</strong> (0917) 744 8486</li>
                                                            <li><strong>Email:</strong> info@asi.com.ph</li>
                                                        </ul>
                                                    </td>

                                                    <td></td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td><b>CENTRAL OFFICE</b></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <ul class="list-unstyled">
                                                        <li><strong>Working Hours:</strong> 8:00am - 7:00pm, Monday to Saturday</li>
                                                        <li><strong>Address:</strong> # 36 Veloso st. Brgy Salapan , San Juan City, Philippines 1500</li>
                                                        <li><strong>Email:</strong> info@asi.com.ph</li>
                                                        <li><strong>Contact:</strong> (02) 727-2727 / 0916-727-2727</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.ph/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Automation+and+Security,+Inc.+san+juan&amp;aq=&amp;sll=14.618468,121.059723&amp;sspn=0.212945,0.308647&amp;ie=UTF8&amp;hq=Automation+and+Security,+Inc.&amp;hnear=San+Juan,+Metro+Manila&amp;ll=14.602093,121.020498&amp;spn=0.006295,0.036061&amp;t=m&amp;output=embed"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="site-map">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3>Company</h3>
                                    <ul class="list-unstyled">
                                        <li><a href="~/Home">Home</a></li>
                                        <li><a href="~/About">About</a></li>              
                                        <li><a href="~/Contact">Contact</a></li>
                                        <li><a href="">News</a></li>
                                        <li><a href="">Events</a></li>
                                        <li><a href="~/Career">Career</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h3>Information</h3>
                                    <ul class="list-unstyled">
                                        <li><a href="~/About/ProductLines">Product Line</a></li>
                                        <li><a href="">Privacy Policy</a></li>
                                        <li><a href="">FAQs</a></li>
                                        <li><a href="">Term and Condition</a></li>
                                        <li><a href="">Trainer</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h3>News</h3>
                                    <ul class="list-unstyled">
                                        <li><a href="">Product Updates</a></li>
                                        <li><a href="">Training Schedule</a></li>
                                        <li><a href="">Events</a></li>
                                        <li><a href="">Newsletter</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h3>Social</h3>
                                    <ul class="list-inline">
                                        <li class="fb-color"><a href="https://www.facebook.com/ASICOMPH/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="go-color"><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                                        <li class="sk-color"><a href=""><i class="fab fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <p class="text-center text-muted">&copy; @DateTime.Now.Year - Automation and Security, Inc. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            
            <div class="site-body" id="site-body"></div>
        </div>
    </div>
    <!--Start of Tawk.to Script
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/565545c750e84b53668d424c/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>-->
    <!--End of Tawk.to Script-->

    <!--Pin Script-->
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
      attribution=setup_tool
      page_id="136107879742322"
      logged_in_greeting="Hi! How can we help you?"
      logged_out_greeting="Hi! How can we help you?">
    </div>

    <script>
        //config vars
        var lagAmount = 50;
        var maxSpeed = 100;
        var frameRate = 0;
        //var frameRate = 20;
        var selector = '.pin';
        //code
        var scrollTop = 0;
        var pinTop = 0;
        var lastTime = void 0;
        var updatePinPosition = function updatePinPosition(time) {
            if (!lastTime) lastTime = time;
            var delta = time - lastTime;
            if (delta >= frameRate) {
                scrollTop = $(window).scrollTop();
                var move = (scrollTop - pinTop) * delta / (lagAmount + delta);
                var direction = move === 0 ? 0 : move / Math.abs(move);
                pinTop = pinTop + Math.min(Math.abs(move), maxSpeed) * direction;
                $(selector).css('transform', 'translateY(' + -move + 'px');
                lastTime = time;
            }
            requestAnimationFrame(updatePinPosition);
        };
        requestAnimationFrame(updatePinPosition);
    </script>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Function.js"></script>
    <script src="~/Scripts/lightslider.js"></script>

    <script type="text/javascript">
    $(function () {
        $('.tab2').tab({
            trigger_event_type: 'mouseover'
        });
    });
    </script>

</body>
</html>
